<!-- views/home/login.ejs -->
<!DOCTYPE html>
<html>
  
<head>
    <%- include('../partials/head') %>
</head>

<header>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
</header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Signika:wght@300&display=swap');
</style>

<body>
    <%- include('../partials/nav') %>

    <form class="user-form" action="/login" method="post">
    <script type="text/javascript" src="/public/js/login.js" defer></script>
    
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
    
    <div class="login-box">
    <div class="title">Wonderful Korea</div>
      <div class="form signin">
      <div class="form-elements">
        <div class="form-element">
          <input type="text" placeholder="아이디" id="username" name="username" value="<%= username %>"
          class="form-control <%= (errors.username)?'is-invalid':'' %>">
                            <% if(errors.username){ %>
                                <span class="invalid-feedback">
                                    <%= errors.username %>
                                </span>
                              </h1>  
                        </div>
                            <% } %>
        </div>

        <div class="form-element">
          <input type="password" placeholder="비밀번호" id="password" name="password" value=""
          class="form-control <%= (errors.password)?'is-invalid':'' %>">
          <% if(errors.password){ %>
            <span class="invalid-feedback">
        <%= errors.password %>
            </span>
        <% } %>

        <% if(errors.login){ %>
          <div class="invalid-feedback d-block">
              <%= errors.login %>
          </div>
              <% } %>
          </div>
        </div>
        
        <div class="buttons">
          <button id="submit-btn" class="btn-hover color-8" value="Login">Log In</button>
        </div>
        
        <p class="font" style="color: #072f6e">or Social Login</p>
        <a href="/auth/google" class="social-button" id="google-connect"> <span>Connect with Google</span></a>
      </div>
      </div>
    </div>

    </form>
</body>

<footer>
    <div class="footer img-wrapper">
    <div class="img">
      <a href="https://velog.io/@kjh950330">
        <img src="https://pbs.twimg.com/profile_images/1228368893321736193/Ov0og7E8_400x400.jpg" style="max-width: 2%; height: auto;" alt="velog">
      </a>
    <div class="footertext">
      copyright(c) 2022. jihan kong. All rights reserved.
    </div>
  </footer>
</html>